<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//static.360buyimg.com/finance/base/1.2.0/css/base.css"/>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
<header>
    <div class="inner">
        <span class="userBox">尊敬的 <em class="user">{{username}}</em> , 欢迎您~</span>
    </div>
</header>
<div id="container">
    <h1 class="title">后台管理系统</h1>
    <form id="settingForm">
        <div class="major">
            <div class="item">
                <span class="title"><em>*</em>一级标题:</span>
                <div class="middle">
                    <div class="select" node-type="first">
                        <p class="defTxt">请选择</p>
                        <ul class="check">
                            {{each listJson}}
                            <li>{{$value.name}}</li>
                            {{/each}}
                        </ul>
                        <input type="hidden" name="first" class="hidden">
                    </div>
                </div>
            </div>
            <div class="item">
                <span class="title"><em>*</em>二级标题:</span>
                <div class="middle">
                    <div class="select" node-type="second">
                        <p class="defTxt">请选择</p>
                        <ul class="check"></ul>
                        <input type="hidden" name="second" class="hidden">
                    </div>
                </div>
            </div>
        </div>
        <div class="minor">
            <div class="item">
                <span class="title"><em>*</em>名称:</span>
                <div class="middle">
                    <input class="input" type="text" name="proName" />
                </div>
            </div>
            <div class="item">
                <span class="title"><em>*</em>链接:</span>
                <div class="middle">
                    <input class="input" type="text" name="url" />
                </div>
            </div>
            <div class="item">
                <span class="title">描述:</span>
                <div class="middle">
                    <input class="input" type="text" name="describe" />
                </div>
            </div>
        </div>
        <div class="submitBox">
            <a href="javascript:void (0);">提交</a>
            <input type="submit">
        </div>
    </form>
</div>
<script src="//static.360buyimg.com/finance/common/lib/jquery/1.8.3/jquery.js"></script>
<script src="/js/jquery.validate.js"></script>
<script src="/js/select.js"></script>
<script src="/js/edit.js"></script>
</body>
</html>